@using Web.Site.Helpers;
@model Cryptopia.Common.User.UpdatePasswordModel


<h4>@Resources.User.securityPasswordHeadline</h4>
<hr />
@using (Ajax.BeginForm("UpdatePassword", "UserSecurity", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "passwordTarget" }, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()
	@Html.WriterValidationSummary()
	@Html.ValidationSummary(true)
	<div class="form-group">
		@Html.Label(Resources.User.securityPasswordOldLabel, new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-sm" })
			@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.Label(Resources.User.securityPasswordNewLabel, new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-sm" })
			@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.Label(Resources.User.securityPasswordConfirmLabel, new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm" })
			@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-3 col-md-9">
			<input type="submit" value="@Resources.User.securityPasswordSaveButton" class="btn btn-default btn-sm button-180" />
		</div>
	</div>
}