@model Cryptopia.Common.Paytopia.ExchangeListingModel

@{
	Layout = "~/Views/Shared/_Modal.cshtml";
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button class="close simplemodal-close" aria-hidden="true" type="button" onclick="$.modal.close({ Cancel: true });">×</button>
			<h3 class="modal-title">@Resources.Paytopia.exchangeComboHeadline</h3>
		</div>
		@Html.WriterValidationSummary()
		@using (Ajax.BeginForm("ComboListing", "Paytopia", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "simplemodal-data", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal" }))
		{
			<div class="modal-body">
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.Name)
				@Html.HiddenFor(m => m.Price)
				@Html.HiddenFor(m => m.Balance)
				@Html.HiddenFor(m => m.Currency)
				<div class="form-margin">

					<div class="row">
						<div class="col-md-8">
							@Html.LabelFor(m => m.ListingName, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.ListingName, new { @class = "form-control input-sm" })
							@Html.ValidationMessageFor(model => model.ListingName, "", new { @class = "text-danger", style = "font-size:12px" })
						</div>
						<div class="col-md-4">
							@Html.LabelFor(m => m.ListingSymbol, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.ListingSymbol, new { @class = "form-control input-sm" })
							@Html.ValidationMessageFor(model => model.ListingSymbol, "", new { @class = "text-danger", style = "font-size:12px" })
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							@Html.LabelFor(m => m.ListingAlgoType, new { @class = "control-label" })
							@Html.EnumDropDownListFor(m => m.ListingAlgoType, "--Please Select--", new { @class = "form-control input-sm" })
							@Html.ValidationMessageFor(model => model.ListingAlgoType, "", new { @class = "text-danger", style = "font-size:12px" })
						</div>
						<div class="col-md-6">
							@Html.LabelFor(m => m.ListingNetworkType, new { @class = "control-label" })
							@Html.EnumDropDownListFor(m => m.ListingNetworkType, "--Please Select--", new { @class = "form-control input-sm" })
							@Html.ValidationMessageFor(model => model.ListingNetworkType, "", new { @class = "text-danger", style = "font-size:12px" })
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							@Html.LabelFor(m => m.ListingWebsite, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.ListingWebsite, new { @class = "form-control input-sm" })
							@Html.ValidationMessageFor(model => model.ListingWebsite, "", new { @class = "text-danger", style = "font-size:12px" })
						</div>
						<div class="col-md-6">
							@Html.LabelFor(m => m.ListingSource, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.ListingSource, new { @class = "form-control input-sm" })
							@Html.ValidationMessageFor(model => model.ListingSource, "", new { @class = "text-danger", style = "font-size:12px" })
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							@Html.LabelFor(m => m.ListingBlockExplorer, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.ListingBlockExplorer, new { @class = "form-control input-sm" })
							@Html.ValidationMessageFor(model => model.ListingBlockExplorer, "", new { @class = "text-danger", style = "font-size:12px" })
						</div>
						<div class="col-md-6">
							@Html.LabelFor(m => m.ListingLaunchForum, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.ListingLaunchForum, new { @class = "form-control input-sm" })
							@Html.ValidationMessageFor(model => model.ListingLaunchForum, "", new { @class = "text-danger", style = "font-size:12px" })
						</div>
						<div class="col-md-12">
							@Html.LabelFor(m => m.ListingExtraInfo, new { @class = "control-label" })<small><i> (optional)</i></small>
							@Html.TextAreaFor(m => m.ListingExtraInfo, new { @class = "form-control", rows = 4 })
							@Html.ValidationMessageFor(model => model.ListingExtraInfo, "", new { @class = "text-danger", style = "font-size:12px" })
						</div>

						<div class="col-md-12" style="margin-top:12px">
							<span>
								<b><small>@Resources.Paytopia.paytopiaPriceLabel:</small></b> @Model.Price.ToString("F8") @Model.Currency
							</span>
						</div>
						<div class="col-md-12">
							<span>
								<b><small>@Resources.Paytopia.paytopiaAvailableLabel:</small></b>
								<span class="@(Model.Price > Model.Balance ? "text-danger":"text-info")">@Model.Balance.ToString("F8")</span> @Model.Currency
							</span>
						</div>
						<div class="col-md-12 text-center" style="margin-top:15px">
							<span style="font-size:12px">@Resources.Paytopia.exchangeComboBuyNowInfoText</span>
						</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default button-180 simplemodal-close" type="button" onclick="$.modal.close({ Cancel: true });">@Cryptopia.Resources.General.Cancel</button>
				<button @(Model.Price > Model.Balance ? "disabled='disabled'":"") id="submit" class="btn btn-primary button-180" type="submit">@Resources.Paytopia.paytopiaBuyNowButton</button>
			</div>
		}
	</div>
</div>

@Scripts.Render("~/Scripts/Bundle/validation_bundle.min.js")
<script>
	$("#submit").on("click", function () {
		var valid = $(".form-horizontal").valid();
		if (valid) {
			$('.modal-dialog').block({ message: '@Cryptopia.Resources.General.SubmittingMessage' });
		}
	});
</script>
