@using hbehr.recaptcha
@model Web.Site.Models.ForgotPasswordViewModel
@{
	ViewBag.Title = Resources.Authorization.forgotPageTitle;
	ViewBag.IsFullPage = true;
}


<div class="text-center" style="padding-top: 100px">
	<div class="panel panel-primary" style="width: 353px; display: inline-block; text-align: left">
		<div class="panel-heading" style="padding: 5px">
			<span><i class="fa fa-key panel-icon"></i>@Resources.Authorization.forgotHeadline</span>
		</div>
		@Html.ModelValidationSummary()
		<div class="panel-body">
			@using (Html.BeginForm("ForgotPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<div class="form-margin">
					<div>
						@Html.LabelFor(m => m.Email, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control  input-sm" })
						@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
					</div>
					<br />
					<div class="text-center">
						@ReCaptcha.GetCaptcha()
					</div>
				</div>
				<br />
				<div class="text-center">
					<input type="submit" value="@Resources.Authorization.forgotButton" class="btn btn-info" />
				</div>
			}
		</div>
	</div>
</div>

@Scripts.Render("~/Scripts/Bundle/validation_bundle.min.js")
