@using hbehr.recaptcha
@model Web.Site.Models.LoginViewModel
@{
	ViewBag.Title = Resources.Authorization.loginPageTitle;
	ViewBag.IsFullPage = true;
}

<div class="text-center" style="padding-top: 100px">
	<div class="panel panel-primary" style="width:353px;display:inline-block; text-align:left">
		<div class="panel-heading" style="padding: 5px">
			<span><i class="fa fa-sign-in panel-icon"></i>@Resources.Authorization.loginHeadline</span>
		</div>
		@Html.ModelValidationSummary()
		<div class="panel-body">
			@using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<div class="form-margin">
					<div>
						@Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control  input-sm", @autofocus = "autofocus" })
						@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
					</div>
					<div>
						@Html.LabelFor(m => m.Password, new { @class = "control-label" })
						@Html.PasswordFor(m => m.Password, new { @class = "form-control  input-sm"})
						@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
					</div>
					<br />
					<div class="text-center">
						@ReCaptcha.GetCaptcha()
					</div>
				</div>
				<br />
				<div class="text-center">
					<div class="form-group">
						<input type="submit" value="@Resources.Authorization.loginButton" class="btn btn-info btnhalfwidth" />
					</div>
					<p>
						@Html.ActionLink(Resources.Authorization.loginRegisterLink, "Register") @Resources.Authorization.loginRegisterLinkText
					</p>
					<p>
						@Html.ActionLink(Resources.Authorization.loginForgotPasswordLink, "ForgotPassword")
					</p>
				</div>
			}
		</div>
	</div>
</div>

@Scripts.Render("~/Scripts/Bundle/validation_bundle.min.js")






