@model Web.Site.Models.ResetPasswordViewModel
@{
	ViewBag.Title = Resources.Authorization.resetTitle;
	ViewBag.IsFullPage = true;
}

<div class="text-center" style="padding-top: 100px">
	<div class="panel panel-primary" style="width: 340px; display: inline-block; text-align: left">
		<div class="panel-heading" style="padding: 5px">
			<span><i class="fa fa-lock panel-icon"></i>@Resources.Authorization.resetHeadline</span>
		</div>
		@Html.ModelValidationSummary()
		<div class="panel-body">
			@using (Html.BeginForm("ResetPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(model => model.Code)
				<div class="form-margin">
					<div>
						@Html.LabelFor(m => m.Email, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control  input-sm" })
						@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
					</div>
					<div>
						@Html.LabelFor(m => m.Password, new { @class = "control-label" })
						@Html.PasswordFor(m => m.Password, new { @class = "form-control  input-sm" })
						@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
					</div>
					<div>
						@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control  input-sm" })
						@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
					</div>
				</div>
				<br />
				<div class="text-center">
					<input type="submit" value="@Resources.Authorization.resetButton" class="btn btn-info btnhalfwidth" />
				</div>
			}
		</div>
	</div>
</div>

@Scripts.Render("~/Scripts/Bundle/validation_bundle.min.js")
