<div class="table-header-container">
	<h2 class="table-header">@Resources.UserData.tradesHeadline</h2>
	<hr class="table-seperator" />
</div>
<div class="table-search-seperator"></div>
<div class="table-search-seperator-mobile visible-xs"></div>
<table id="trades" class="table table-striped table-hover table-condensed" data-action="@Url.Action("GetTrades", "UserExchange")" data-action-exchange="@Url.Action("Index", "Exchange")">
	<thead>
		<tr>
			<th>#</th>
			<th>@Resources.UserData.tradesTradePairIdColumn</th>
			<th>@Resources.UserData.tradesMarketColumn</th>
			<th>@Resources.UserData.tradesTypeColumn</th>
			<th>@Resources.UserData.tradesRateColumn</th>
			<th>@Resources.UserData.tradesAmountColumn</th>
			<th>@Resources.UserData.tradesTotalColumn</th>
			<th>@Resources.UserData.tradesRemainingColumn</th>
			<th>@Resources.UserData.tradesFeeColumn</th>
			<th>@Resources.UserData.tradesTimestampColumn</th>
			<th><span onclick="cancelAllOrders();">@Resources.UserData.tradesCancelAllButton</span></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<script type="text/javascript">
	var Resources = Resources || {};
	Resources.UserTrades = {
		EmptyListMessage: '@Resources.UserData.tradesEmptyListMessage'
	};
</script>
@Scripts.Render("~/Scripts/Project/User/userTrades.min.js")
