@model Web.Site.Models.MarketItemModel
@{
	var feedbackUser = Model.IsUserListing && !Model.HasSellersFeedback ? Model.BuyerUserName : Model.UserName;
}

@if ((Model.IsUserListing && !Model.HasSellersFeedback) || (Model.IsUserBuyer && !Model.HasBuyersFeedback))
{
    using (Html.BeginForm("SubmitFeedback", "MarketPlace", FormMethod.Post, new { @class = "form-horizontal" }))
    {
    @Html.AntiForgeryToken()
    @Html.Hidden("MarketItemId", Model.Id)
    <strong class="text-info marketplace-item-heading">@Resources.Market.feedbackPlaceFeedbackLabel:</strong>
    <p>
		@Html.Raw(String.Format(Resources.Market.feedbackPlaceFeedbackHtml, String.Format("<a href=\"/MarketFeedback/{0}\">{0}</a>", feedbackUser)))
    </p>
    <div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-lg-12" style="padding-left: 0px">
            @Html.Label("Rating", Resources.Market.feedbackRatingLabel, new { @class = "control-label" })
            @Html.DropDownList("Rating", new SelectList(new int[] { 1, 2, 3, 4, 5 }, 5), new { @class = "form-control input-sm" })
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-lg-12" style="padding-left: 0px">
            <div class="input-group input-group-sm">
                @Html.Label("Comment", Resources.Market.feedbackCommendLabel, new { @class = "control-label" })
                @Html.TextBox("Comment", "", new { @class = "form-control input-sm", })
                <span class="input-group-btn" style="vertical-align: bottom">
                    <button id="submit-feedback" type="submit" class="btn btn-warning">@(Model.IsUserListing && !Model.HasSellersFeedback ? Resources.Market.feedbackSubmitForBuyerButton : Resources.Market.feedbackSubmitForSellerButton)</button>
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    }
    <hr />
}