@model Web.Site.Models.ViewMessageModel
@{
	ViewBag.Title = Model.Type.ToString();
	ViewBag.IsFullPage = true;
}

<div style="padding:5%">
	<div class="alert alert-@Model.Type.ToString().ToLower()">
		<h4 class="nopad" style="margin: 0px"><strong class="nopad">@Model.Title</strong></h4>
		<hr />
		@if (Model.ShowLoginLink)
		{
		<h5>@Model.Message, @Resources.Layout.messageLogin <b>@Html.ActionLink(Resources.Layout.messageLoginLink, "Login", "Login")</b> @(Resources.Layout.messageLogin).</h5>}
		else if (Model.ShowSupportLink)
		{
		<h5>@Model.Message, @Resources.Layout.messageContactSupport <a class="alert-link" href="/Support">@Resources.Layout.messageContactSupportLink</a>.</h5>}
		else if (Model.ShowContinueLink)
		{
		<h5>@Model.Message</h5>
		<hr />
		<a href="@Model.ContinueLink" class="btn btn-sm btn-info">@Model.ContinueLinkText</a>}
		else
		{
		<h5>@Model.Message</h5>}
	</div>
</div>
