<div class="table-header-container">
	<h2 class="table-header">Emoticons</h2>
	<hr class="table-seperator" />
</div>

<div id="message-alert" class="alert text-center" style="display: none">
	<p></p>
</div>

<div class="table-search-seperator"></div>
<div class="table-search-seperator-mobile visible-xs"></div>

<table id="emoticons" class="table table-striped table-hover datatable" data-action="@Url.Action("GetEmoticons", "AdminEmoticon")" data-action-create="@Url.Action("CreateEmoticon", "AdminEmoticon")" data-action-update="@Url.Action("UpdateEmoticon", "AdminEmoticon")" data-action-delete="@Url.Action("DeleteEmoticon", "AdminEmoticon")">
	<thead>
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>Category</th>
			<th>Image</th>
			<th>
				<button onclick="createEmoticon();" class="btn btn-primary btn-xs pull-right" style="width:110px">Create</button>
			</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<script id="previewTemplate" type="text/html">
	<a class="preview-popover" data-container="body" role="button" href="#" tabindex="0" data-toggle="popover" data-placement="left" data-html="true" data-content="<img height='80' src='/Content/Images/Emoticonset/{{path}}'/>">
		{{name}}
	</a>
</script>

<script id="emoticonOptionsTemplate" type="text/html">
	<div class="btn-group btn-group-xs pull-right" style="min-width:205px">
		<a onclick="{{{updateEmoticon}}}" class="btn btn-primary" href="#" style="width:110px">Update</a>
		<a onclick="{{{deleteEmoticon}}}" class="btn btn-danger" href="#" style="width:110px">Delete</a>
	</div>
</script>
@Scripts.Render("~/Scripts/Project/Admin/emoticon.js")








